<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
  //= include/header.html
  <main>
    <div class="container">
      <div class="row">
        <p class="title-section">
          Чтобы добавить карточке(или любому другому блоку) рамку определенного цвета, достаточно добавить клсс border для задания рамки и класс border-color, где color - название цвета.
        </p>
        <p class="col-md-12 title-section">Примеры:</p>
        <div class="example border border-blue-grey">
          <div class="card border border-lime" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <p>
            &ltdiv class="card border border-lime" style="width: 18rem;"&gt
            <br> &ltdiv class="card-body"&gt
            <br> &lth5 class="card-title"&gtCard title&lt/h5&gt
            <br> &lth6 class="card-subtitle mb-2 text-muted"&gtCard subtitle&lt/h6&gt
            <br> &ltp class="card-text"&gtSome quick example text to build on the card title and make up the bulk of the card's content.&lt/p&gt
            <br> &lta href="#" class="card-link"&gtCard link&lt/a&gt
            <br> &lta href="#" class="card-link"&gtAnother link&lt/a&gt
            <br> &lt/div&gt
            <br> &lt/div&gt
          </p>
          </p>
        </div>
      </div>
    </div>

    <!--
    <a href="#" data-target="nav-mobile" class="sidenav-trigger btn">Side nav demo</a>
    <nav>
       navbar content here  
    </nav>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <input type="text" class="form-control border-teal hoverable">
    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
    <button class="btn teal">ldl</button>
    <button class="btn waves-effect waves-light teal pink-text z-depth-5-teal border border-deep-purple p-1" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    <div id="scene">
      <div data-depth="0.2">My first Layer!</div>
      <div data-depth="0.6">My second Layer!</div>
    </div>
-->
  </main>
  <script src="js/jquery.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/global.js"></script>
  <script src="js/anime.min.js"></script>
  <script src="js/cash.js"></script>
  <script src="js/component.js"></script>
  <script src="js/sidenav.js"></script>
  <script src="js/collapsible.js"></script>
  <script src="js/dropdown.js"></script>
  <script src="js/stellar.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });

    // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
    // var collapsibleElem = document.querySelector('.collapsible');
    // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

    // Or with jQuery

    $(document).ready(function() {
      $('.sidenav').sidenav();
    });

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems);
    });

    // Or with jQuery

    $(document).ready(function() {
      $('.collapsible').collapsible();
    });
    $('#scene').stellar();
  </script>
</body>

</html>