<!DOCTYPE html>

<html lang="ru">

<head>
  <!-- Google Tag Manager -->
<!--
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5VKLSCK');
  </script>
-->
  <!-- End Google Tag Manager -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="" />

  <meta name="keywords" content=". " />
  <meta name="description" content="" />
  <link rel="canonical" href="">
  <title>Brokstr</title>

  <link rel="stylesheet" href="css/styles.min.css" type="text/css" />
  <link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/templates/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/templates/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/templates/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/templates/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/templates/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/templates/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/templates/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/templates/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/assets/templates/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/assets/templates/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/templates/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/templates/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/templates/favicon/favicon-128.png" sizes="128x128">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>


</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<!--
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VKLSCK"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
-->
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="h-logo"><img src="img/logo.png" alt=""></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-3 col-sm-offset-3 d-sm-none d-none d-md-block">
          <div class="h-work">
            Горячая линия <br>пн-пт 10:00 - 19:00
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 d-none d-sm-block">
          <div class="h-phn">
            <a href="tel:88005512280">8-800-551-22-80</a><br>
            <a href="tel:+74951289880">+7 (495) 128-98-80</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="wrapper">
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="main-img"><img src="img/main-back.png" alt=""></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="main-ttl">Прибыльный <span>искусственный интеллект</span></div>
            <div class="main-ttl2">на инвестиционных<span> рынках</span></div>
            <div class="main-form">
              <div class="main-form-ttl">Высокий постоянный доход и никакого Вашего прямого участия<br> Заполните форму и получите искусственный интеллект&nbsp;<span>бесплатно</span>
              </div>
              <form>
                <div class="phone-verify">
                  <label for="" class="text">Введите Ваш номер <br>
                                    <input type="text" name="phone" placeholder="+7(___)___-__-__" required>
                                </label>
                  <input type="submit" class="send-phone" value="Получить">
                </div>
                <div class="sms-verify">
                  <label for="" class="text">Код СМС <br>
                                    <input type="text" name="code-sms" placeholder="КОД СМС" required>
                                </label>
                  <input type="submit" class="send-code-sms" value="Отправить">
                </div>
                <div class="alert alert-success" style="margin-top: 1rem; display: none" role="alert"></div>
                <div class="alert alert-danger" style="margin-top: 1rem; display: none" role="alert"></div>
                <input id="chk" name="chk" type="checkbox" required="" checked=""><label for="chk" class="check"><span></span>Соглашаюсь
                            на обработку моих персональных данных</label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="preim">
      <div class="container">
        <div class="preim-ttl">Ваши <span>преимущества</span></div>
        <div class="preim-cont">
          <div class="preim-bl">
            <div class="preim-bl-img"><img src="img/preim1.jpg" alt=""></div>
            <div class="preim-bl-ttl">свободный доступ</div>
            <div class="preim-bl-txt">Абсолютно бесплатный <br>искусственный интеллект для вас</div>
          </div>
          <div class="preim-bl">
            <div class="preim-bl-img"><img src="img/preim2.jpg" alt=""></div>
            <div class="preim-bl-ttl">стабильный доход</div>
            <div class="preim-bl-txt">Популярный источник<br>дохода в сети</div>
          </div>
          <div class="preim-bl">
            <div class="preim-bl-img"><img src="img/preim3.jpg" alt=""></div>
            <div class="preim-bl-ttl">Доступность каждому</div>
            <div class="preim-bl-txt">Простая установка торгового<br>искусственного интеллекта на MT4/МТ5</div>
          </div>
          <div class="preim-bl">
            <div class="preim-bl-img"><img src="img/preim4.jpg" alt=""></div>
            <div class="preim-bl-ttl">Автоматизация</div>
            <div class="preim-bl-txt">Никакого Вашего <br>прямого участия</div>
          </div>
          <div class="preim-bl">
            <div class="preim-bl-img"><img src="img/preim5.jpg" alt=""></div>
            <div class="preim-bl-ttl">Подходит всем</div>
            <div class="preim-bl-txt">Очень прост в использовании</div>
          </div>
        </div>
      </div>
    </div>
    <div class="video">
      <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="615" src="https://www.youtube.com/embed/EuaYx5aTJ8A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>

      </div>

    </div>
    <div class="timer">
      <div class="container">
        <div class="timer-ttl">До окончания <span>бесплатного доступа</span> осталось:</div>
        <div class="timer-cont">
          <div class="countdownwrap"></div>
          <script type="text/javascript" src="js/timer.min.js"></script>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="f-logo"><img src="img/calc-logo.png" alt=""></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="f-work">
            Горячая линия <br>пн-пт 10:00 - 19:00
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="f-phn">
            <a href="tel:88005512280">8-800-551-22-80</a><br>
            <a href="tel:+74951289880">+7 (495) 128-98-80</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="f-brkstr">ООО «Брокстр»</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div style="color:white; font-size:14px; padding-top:20px; " class="text-center">
            ООО "Брокстр" оказывает услуги по обучению и не является брокером. Номер лицензии: <a href="license.html" target="_blank">039276</a> ОГРН: 1177746292943
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div style="display:none;">
    <div id="form_call_back" class="form_call_back" style="display: block;">
      <div class="form_call_back-ttl">Введите свои данные
        <span>И наш менеджер свяжется с вами<br>в ближайшее время</span></div>
      <div class="clearfix"></div>
      <form action="mail.php" method="post">
        <label>Введите ваше имя
                <input name="name" type="text" placeholder="Фамилия Имя" required/>
            </label>
        <label>Введите ваш телефон
                <input name="phone" type="text" id="main_phone" placeholder="+7(123)456 78 90" required/>
            </label>
        <input id="chk2" name="chkm" type="checkbox" required="" checked=""><label for="chkm" class="check"><span></span>Соглашаюсь
            на обработку моих<br>персональных данных</label>
        <input type="submit" value="Отправить">
      </form>
    </div>
  </div>

  <div style="display:none;">
    <div id="form_call_back2" class="form_call_back" style="display: block;">
      <div class="form_call_back-ttl">откройте ваш счет<span>Заполните поля и наш менеджер поможет<br>Вам открыть собственый счет</span>
      </div>
      <div class="clearfix"></div>
      <form action="mail.php" method="post">
        <label>Введите ваше имя
                <input name="name" type="text" placeholder="Фамилия Имя" required/>
            </label>
        <label>Введите ваш телефон
                <input name="phone" type="text" id="main_phone" placeholder="+7(123)456 78 90" required/>
            </label>
        <input id="chk2" name="chkm2" type="checkbox" required="" checked=""><label for="chkm2" class="check"><span></span>Соглашаюсь
            на обработку моих<br>персональных данных</label>
        <input type="submit" value="Отправить">
      </form>
    </div>
  </div>


  <div style="display:none">
    <div id="thanks">
      <div class="form_call_back-img"><img src="img/frm-img.png" alt=""></div>
      <div class="form_call_back-ttl">СПАСИБО ЗА ЗАЯВКУ <span>Ваши данные отправлены в обработку  </span></div>
    </div>
  </div>
  

  <script type="text/javascript" src="fancybox/jquery.fancybox.pack.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".fancybox,.gal").fancybox();
    });
  </script>
  <script>
    $(window).load(function() {
      $('.load').fadeOut('slow');
    });
  </script>

  <script type="text/javascript" src="js/jquery.maskedinput.min.js"></script>
  <script type="text/javascript" src="js/crs.min.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".c_back").fancybox({
        href: '#form_call_back',
        wrapCSS: 'modal_call_back'
      });
      $(".c_back2").fancybox({
        href: '#form_call_back2',
        wrapCSS: 'modal_call_back'
      });

      if (window.location.hash == '#thanks')
        $.fancybox.open({
          href: '#thanks',
          wrapCSS: 'modal_thanks'
        })


      $(".next-bl-btn").fancybox({
        href: '#form_zapis',
        wrapCSS: 'modal_zapis'
      });
      $('[name="phone"]').mask('+7(999)999-99-99');
    });
  </script>
  <script>
    function sendUTM(phone) {
      var params = window
        .location
        .search
        .replace('?', '')
        .split('&')
        .reduce(
          function(p, e) {
            var a = e.split('=');
            p[decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
            return p;
          }, {}
        );
      $.ajax({
        url: 'publicAPI/utm.php',
        dataType: 'JSON',
        method: 'POST',
        data: {
          action: 'newUTM',
          utm: params,
          phone: phone
        }
      });
    }
    $('input.send-phone').on('click', function() {
      var el = $(this).parent();
      var el_sms = $(this).parents('form').find('.sms-verify');
      var phone = $(this).parent().find('[name="phone"]').val();
      var success_message = $(this).parents('form').find('.alert-success');
      var error_message = $(this).parents('form').find('.alert-danger');

      success_message.hide();
      error_message.hide();
      if (phone !== '') {
        window.phone = phone;
        $.ajax({
          url: 'publicAPI/phone_lead.php',
          method: 'POST',
          dataType: 'JSON',
          data: {
            action: 'getSMS',
            phone: phone
          }
        }).done(function(data) {
          var res = data.result;
          switch (res) {
            case 'success':
              success_message.text('Сообщение отправлено. Введите и отправьте код присланный в поле \"КОД\".');
              success_message.slideDown();

              el.slideUp();
              el_sms.slideDown();
              break;
            case 'errorCall':
              error_message.text('Ошибка отправки звонка');
              error_message.slideDown();
              break;
            case 'errorSend':
              error_message.text('Ошибка отправки сообщения');
              error_message.slideDown();
              break;
            case 'isVerified':
              success_message.text('Ваш телефон уже верифицирован.');
              success_message.slideDown();
              sendUTM(window.phone);
              break;
          }
        })
      }
    });
    $('input.send-code-sms').on('click', function(e) {
      e.preventDefault();
      var el = $(this).parent();
      var el_sms = $(this).parents('form').find('.sms-verify');

      var phone = $(this).parents('form').find('[name="phone"]').val();
      var code = $(this).parent().find('[name="code-sms"]').val();

      var success_message = $(this).parents('form').find('.alert-success');
      var error_message = $(this).parents('form').find('.alert-danger');

      success_message.hide();
      error_message.hide();
      if (code !== null) {
        window.phone = phone;
        $.ajax({
          url: 'publicAPI/phone_lead.php',
          method: 'POST',
          dataType: 'JSON',
          data: {
            action: 'getVerify',
            phone: phone,
            code: code
          }
        }).done(function(data) {
          var res = data.result;
          success_message.hide();
          error_message.hide();
          switch (res) {
            case 'success':
              success_message.text('Код принят.');
              success_message.slideDown();
              sendUTM(window.phone);
              break;
            case 'error':
              error_message.text('Код не принят.');
              error_message.slideDown();
              break;
          }
        })
      }
    })
  </script>
</body>

</html>